@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <div class="middle-box text-center animated fadeInDown">
            <h2>Home</h2>
            <h3 class="font-bold">欢迎 @ViewBag.UserName</h3>
        </div>
    </div>
</div>
