@{
    ViewBag.Title = "Daily";
}
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" method="post" action="/Home/AddDaily">
            <div class="ibox">
                <div class="ibox-title">

                </div>

                <div class="ibox-content">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="Date">日期：</label>
                        <div class="col-sm-10">
                            <input type="text" name="Date" class="form-control" value="@ViewBag.DateStr" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="UserName">用户名：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="@ViewBag.UserName" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="Content">内容：</label>
                        <div class="col-sm-10">
                            <textarea type="text" id="Content" name="Content" class="form-control" value=""></textarea>
                        </div>
                    </div>

                </div>
                <div class="ibox-footer">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary btn-outline">保存</button>
                            <button type="reset" class="btn btn-circle btn-outline">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $('#Content').markdown();
        });
    </script>


}